.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    vertical-align: top;
    border: none;
    padding: 14px 30px;
    min-width: 100px;
    background-color: var(--orange);
    border-radius: 8px;
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover);
}
    .button__label {
        position: relative;
    }

.button:hover {
    background-color: var(--orange-90pct);
}


.button:active {
    translate: 0 1px;
    transition: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: var(--disabled-background);
    color: var(--disabled-color);
    translate: none;
    cursor: default;
}


.button--secondary {
    background-color: #FFFFFF;
    color: var(--black);
}
    .button--secondary .button__icon {
        fill: var(--orange);
    }

.button--secondary:hover {
    background-color: var(--white-hover);
}
    .button__icon {
        vertical-align: top;
        fill: currentColor;
    }





@keyframes button-loading-spin {
    100% { transform: rotate(360deg); }
}

.button--loading {
    color: transparent;
    pointer-events: none;
}
    .button--loading::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-loading.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center center;
        animation: button-loading-spin 1s steps(12) infinite;
    }

    .button--secondary.button--loading::after {
        filter: invert(1);
    }

    .button--loading .button__icon {
        display: none;
    }



.button--success {
    color: transparent;
    pointer-events: none;
}
    .button--success::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-success.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .button--secondary.button--success::after {
        filter: invert(1);
    }

    .button--success .button__icon {
        display: none;
    }


