.info {
    margin-top: 80px;
}
    .info__inner {
        max-width: 914px;
        margin-left: auto;
        margin-right: auto;
    }
        .info__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .info__body {
            margin-top: 30px;
        }



@media (width < 740px) {

    .info {
        margin-top: 65px;
    }
        .info__inner {

        }
            .info__heading {
                text-align: center;
            }

            .info__body {
                margin-top: 40px;
            }
}
