<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>ЕГЭ 2024 по русскому языку</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <section class="online container container--wide">
            <h2 class="online__heading title">
                Хотите заниматься онлайн?
            </h2>
            <div class="online__body">
                <article class="online__item">
                    <div class="online__head">
                        <h3 class="online__sub-heading">
                            Курс на 100 баллов
                        </h3>
                        <div class="online__price">
                            76 000 ₽/год
                        </div>
                    </div>
                    <div class="online__content">
                        <div class="online__description wysiwyg">
                            <ul>
                                <li>Теория: учебник + 70 ч. видеоразборов.</li>
                                <li>2 занятия в неделю</li>
                                <li>Тренажер (800+ задач)</li>
                                <li>Связь с преподавателем (чаты и почта).</li>
                                <li>9 репетиционных ЕГЭ: ежемесячно.</li>
                                <li>Контроль: страница личных достижений учащегося, отчеты родителям.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="online__submit">
                        <button class="button" type="button">
                            Записаться
                            <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25">
                                <path d="M11.767 4.955c.44-.44 1.152-.44 1.591 0l6.75 6.75c.44.439.44 1.151 0 1.59l-6.75 6.75a1.125 1.125 0 0 1-1.591-1.59l4.83-4.83H4.686a1.125 1.125 0 0 1 0-2.25h11.91l-4.83-4.83a1.125 1.125 0 0 1 0-1.59Z"/>
                            </svg>
                        </button>
                    </div>
                </article>
                <article class="online__item">
                    <div class="online__head">
                        <h3 class="online__sub-heading">
                            Курс на 100 баллов с куратором
                        </h3>
                        <div class="online__price">
                            6 000 ₽/мес
                        </div>
                    </div>
                    <div class="online__content">
                        <div class="online__alt-heading">
                            Курс на 100 баллов +
                        </div>
                        <div class="online__description wysiwyg">
                            <ul>
                                <li>Входное тестирование.</li>
                                <li>Личный куратор.</li>
                                <li>2 личных домашних задания в неделю с проверкой.</li>
                                <li>Постоянная обратная связь от куратора</li>
                            </ul>
                        </div>
                    </div>
                    <div class="online__submit">
                        <button class="button" type="button">
                            Записаться
                            <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25">
                                <path d="M11.767 4.955c.44-.44 1.152-.44 1.591 0l6.75 6.75c.44.439.44 1.151 0 1.59l-6.75 6.75a1.125 1.125 0 0 1-1.591-1.59l4.83-4.83H4.686a1.125 1.125 0 0 1 0-2.25h11.91l-4.83-4.83a1.125 1.125 0 0 1 0-1.59Z"/>
                            </svg>
                        </button>
                    </div>
                </article>
            </div>
        </section>

        <section class="faq container">
            <h2 class="faq__heading title">
                Ответы на часто задаваемые вопросы
            </h2>
            <div class="faq__section">
                <h3 class="faq__sub-heading">
                    Общее
                </h3>
                <div class="faq__accordion">
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            Есть ли у вас постоянный преподаваительский состав для проведения ежегодных выездных мероприятий для старшеклассников и учителей?
                        </button>
                        <div class="faq__dropdown wysiwyg">
                            <p>Наш преподавательский состав состоит из высококвалифицированных специалистов, которые регулярно участвуют в наших мероприятиях.</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            Какой состав для проведения ежегодных выездных мероприятий?
                        </button>
                        <div class="faq__dropdown wysiwyg">
                            <p>Наши мероприятия включают лекции, семинары и практические занятия, которые проводят опытные преподаватели и специалисты.</p>
                            <p>Преподаватели также проводят индивидуальные консультации для учеников и их родителей.</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            Какой средний балл ученика при поступлении?
                        </button>
                        <div class="faq__dropdown wysiwyg">
                            <p>Средний балл учеников, поступающих в наш учебный центр, обычно составляет 90 и выше.</p>
                            <p>Кроме того, учитываются внеклассные достижения и активное участие в школьной жизни.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__section">
                <h3 class="faq__sub-heading">
                    Оплата
                </h3>
                <div class="faq__accordion">
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            Какой состав для проведения ежегодных выездных мероприятий?
                        </button>
                        <div class="faq__dropdown wysiwyg">
                            <p>Мероприятия включают различные тренинги и мастер-классы, которые ведут признанные эксперты в своих областях.</p>
                        </div>
                    </div>
                    <div class="faq__item">
                        <button class="faq__question" type="button">
                            Какой средний балл ученика при поступлении?
                        </button>
                        <div class="faq__dropdown wysiwyg">
                            <p>Средний балл при поступлении варьируется в зависимости от программы, но обычно не ниже 85.</p>
                            <p>Мы также предлагаем различные стипендии для талантливых студентов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="cut-sliders">
            <div class="blog container container--wide">
                <h2 class="blog__heading title">
                    Полезные статьи
                </h2>
                <div class="blog__body swiper swiper--blog">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Подготовка к ЕГЭ-2024: задачи по геометрии
                                    </h2>
                                    <div class="entry__description">
                                        В ЕГЭ-2024 по математике множество вопросов по геометрии. Наш мини-курс поможет вам разобраться с ними.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Как сдать ЕГЭ-2024 по математике на 100 баллов
                                    </h2>
                                    <div class="entry__description">
                                        Узнайте секреты успешной сдачи ЕГЭ-2024 и получите максимальные баллы. Все подробности в нашем курсе.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Важные темы на ЕГЭ-2024: тригонометрия
                                    </h2>
                                    <div class="entry__description">
                                        Тригонометрия — одна из ключевых тем на ЕГЭ-2024. Наши материалы помогут вам понять и выучить её.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Подготовка к ЕГЭ-2024: алгебра
                                    </h2>
                                    <div class="entry__description">
                                        Изучение алгебры — важный этап подготовки к ЕГЭ. Наш курс предлагает полный разбор всех заданий.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Практические советы по подготовке к ЕГЭ-2024
                                    </h2>
                                    <div class="entry__description">
                                        Практические советы и рекомендации помогут вам эффективно подготовиться к ЕГЭ-2024 по математике.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Решение задач по вероятности на ЕГЭ-2024
                                    </h2>
                                    <div class="entry__description">
                                        На ЕГЭ-2024 представлены задачи по теории вероятностей. В нашем курсе вы найдете их полное решение.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Подготовка к ЕГЭ-2024: алгебра
                                    </h2>
                                    <div class="entry__description">
                                        Изучение алгебры — важный этап подготовки к ЕГЭ. Наш курс предлагает полный разбор всех заданий.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Практические советы по подготовке к ЕГЭ-2024
                                    </h2>
                                    <div class="entry__description">
                                        Практические советы и рекомендации помогут вам эффективно подготовиться к ЕГЭ-2024 по математике.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="entry">
                                <a class="entry__link" href="#">
                                    <h2 class="entry__heading">
                                        Решение задач по вероятности на ЕГЭ-2024
                                    </h2>
                                    <div class="entry__description">
                                        На ЕГЭ-2024 представлены задачи по теории вероятностей. В нашем курсе вы найдете их полное решение.
                                    </div>
                                    <div class="entry__more">
                                        Читать далее
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-pagination">

                    </div>
                </div>
            </div>

            <section class="info container">
                <div class="info__inner">
                    <h2 class="info__heading title">
                        СЕО-текст
                    </h2>
                    <div class="info__body wysiwyg">
                        <p>ЕГЭ-Студия — это коллектив педагогов, умеющих готовить на высокие баллы. Каждый год мы подтверждаем это результатами наших абитуриентов.</p>
                        <p>100 баллов каждый год (За 2016-2023 учебные годы мы подготовили 31 100-балльника).</p>
                        <p>Многие сдают на 80+ и 90+ баллов (65 учеников на 98-99 баллов за 2016-2023 гг.).</p>
                        <p>Мы стремимся вытянуть абитуриента на максимально возможный для него результат.</p>
                        <p>Мы команда профессионалов, более 15 лет готовящая абитуриентов к ЕГЭ. Мы контролируем результаты каждого учащегося, проводим сессии, зачеты, переводные экзамены. Ежегодно у нас всего 200 мест, 60% из них заполняются по рекомендациям.</p>
                    </div>
                </div>
            </section>

            <section class="contacts container">
                <h2 class="contacts__heading title">
                    Карта проезда
                </h2>
                <div class="contacts__body">
                    <div class="contacts__preview">
                        <!-- temp -->
                        <div style="height: 100%; background: purple; color: white; display: flex; align-items: center; justify-content: center; text-align: center">Виджет карты<br> 100% x 100%</div>
                        <!--/temp -->
                    </div>
                    <div class="contacts__data">
                        <div class="contacts__channel">
                            <h3 class="contacts__sub-heading">
                                Наш адрес
                            </h3>
                            <div class="contacts__address">
                                г. Москва,<br>
                                Петровский бульвар&nbsp;15, <span class="nobr">стр. 1</span>.
                            </div>
                            <div class="contacts__metro">
                                Ближайшие станции метро:<br>
                                Трубная, Цветной бульвар, Чеховская, Тверская, Пушкинская.
                            </div>
                        </div>
                        <div class="contacts__channel">
                            <h3 class="contacts__sub-heading">
                                Время работы офиса
                            </h3>
                            <div class="contacts__hours">
                                <span class="nobr">с 10:00</span> <span class="nobr">до 18:00</span> по&nbsp;будням.
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="cta container">
                <div class="cta__frame">
                    <button class="button" type="button">
                        Сдать ЕГЭ на 100 баллов с нами
                        <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25">
                            <path d="M11.767 4.955c.44-.44 1.152-.44 1.591 0l6.75 6.75c.44.439.44 1.151 0 1.59l-6.75 6.75a1.125 1.125 0 0 1-1.591-1.59l4.83-4.83H4.686a1.125 1.125 0 0 1 0-2.25h11.91l-4.83-4.83a1.125 1.125 0 0 1 0-1.59Z"/>
                        </svg>
                    </button>
                </div>
            </div>

            <footer class="footer">
                <div class="footer__wrap container container--wide">
                    <div class="footer__copyright">
                        ЕГЭ-студия 2023
                    </div>
                    <div class="footer__media">
                        <a class="footer__network" href="#">
                            <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17">
                                <path d="m.368 8.16 4.828 1.67 1.882 5.62c.082.38.573.456.9.228l2.7-2.05c.246-.228.655-.228.983 0l4.828 3.265c.327.228.818.076.9-.304l3.6-15.947c.082-.38-.327-.76-.736-.608L.368 7.173a.515.515 0 0 0 0 .987Zm6.465.835 9.492-5.392c.164-.075.328.152.164.228L8.715 10.59c-.246.228-.491.531-.491.911l-.246 1.823c0 .228-.409.304-.49 0l-.983-3.342a.65.65 0 0 1 .328-.987Z"/>
                            </svg>
                            Telegram
                        </a>
                        <a class="footer__network" href="#">
                            <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15">
                                <path d="M24.43 1.017C24.602.431 24.43 0 23.604 0h-2.733c-.697 0-1.017.37-1.188.783 0 0-1.393 3.426-3.36 5.648-.636.642-.929.849-1.277.849-.171 0-.436-.207-.436-.793v-5.47C14.61.314 14.415 0 13.84 0H9.541c-.436 0-.696.328-.696.633 0 .665.984.82 1.086 2.695v4.069c0 .89-.158 1.054-.506 1.054-.928 0-3.184-3.44-4.52-7.378C4.636.31 4.372 0 3.67 0H.938C.158 0 0 .37 0 .783c0 .731.928 4.364 4.32 9.164C6.58 13.223 9.766 15 12.66 15c1.741 0 1.954-.394 1.954-1.073 0-3.132-.157-3.427.715-3.427.404 0 1.1.206 2.725 1.786C19.91 14.16 20.216 15 21.256 15h2.733c.78 0 1.174-.394.947-1.172-.52-1.636-4.033-5.002-4.19-5.227-.404-.525-.288-.759 0-1.228.004-.004 3.34-4.748 3.684-6.356Z"/>
                            </svg>
                            Вконтакте
                        </a>
                        <a class="footer__network" href="#">
                            <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15">
                                <path d="M19.87 3.312c0-1.757-1.293-3.171-2.89-3.171C14.814.039 12.606 0 10.352 0H9.65C7.4 0 5.188.04 3.024.14 1.43.14.137 1.563.137 3.32A57.22 57.22 0 0 0 0 7.492c-.004 1.39.04 2.78.133 4.175 0 1.758 1.293 3.184 2.887 3.184 2.274.105 4.606.152 6.978.148 2.375.008 4.7-.039 6.977-.148 1.598 0 2.891-1.426 2.891-3.184.094-1.394.137-2.785.133-4.18a57.427 57.427 0 0 0-.129-4.175ZM8.087 11.324V3.648l5.665 3.836-5.665 3.84Z"/>
                            </svg>
                            YouTube
                        </a>
                    </div>
                </div>
            </footer>

        </div>

        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../scripts/scripts.js"></script>


    </body>
</html>
